<?xml version="1.0" encoding="utf-8"?>
<launch>

  <param name ="/use_sim_time" value="false"/>

  <node ns="multijackal_02" pkg="camera_calib" name="camera_calib" type="cam_lidar_calib_node" output="screen">

    <param name = "camera_in_topic" type="string" value="/argus/ar0234_front_right/image_raw"/>
    <param name = "lidar_in_topic" type="string" value="/multijackal_02/modified_velodyne_points"/>
    <param name = "image_and_cloud_in_topic" type="string" value="/multijackal_02/image_and_cloud"/>

    <param name = "cam_config_file_path" type="string" value="$(find camera_calib)/config/config_intrinsic_params.yaml" />
    <param name = "result_file" type="string" value="$(find camera_calib)/results/C_T_L.txt"/>
    <param name = "result_rpy_file" type="string" value="$(find camera_calib)/results/rpy_txyz.txt"/>

    <param name = "dx" type="double" value="0.04"/>
    <param name = "dy" type="double" value="0.04"/>

    <param name = "checkerboard_rows" type = "int" value = "9" />
    <param name = "checkerboard_cols" type = "int" value = "6" />

    <param name = "min_points_on_plane" type="int" value="165"/>
    <param name = "max_points_on_plane" type="int" value="800"/>
    <param name = "num_views" type="int" value="10"/>

    <param name="x_min" value="1"/>
    <param name="x_max" value="3"/>
    <param name="y_min" value="-1.5"/>
    <param name="y_max" value="1.5"/>
    <param name="z_min" value="-.3"/>
    <param name="z_max" value="1"/>
    <param name="ransac_threshold" value="0.01"/>

    <param name = "no_of_initializations" type="int" value="1"/>
    <param name = "initializations_file" value="/home/subodh/catkin_ws/src/camera_lidar_calibration/calibration/debug_data/results/methodA/left_vlp/random_init.txt"/>

  </node>
</launch>