<?xml version="1.0" encoding="utf-8"?>
<launch>
  <param name ="/use_sim_time" value="false"/>

  <param name = "result_file" type="string" value="$(find camera_calib)/results/C_T_L_d435i.txt"/>

  <param name= "project_only_plane" type="bool" value="false"/>

  <param name = "camera_in_topic" type="string" value="/multijackal_01/d435i_2/color/image_raw"/>
  <param name = "lidar_in_topic" type="string" value="/multijackal_01/velodyne_points"/>
  <param name = "camera_name" type="string" value="d435i"/>
  
  <param name = "dist_cut_off" type="int" value="5"/>

  <param name = "cam_config_file_path" type="string" value="$(find camera_calib)/config/d435i_config.yaml" />

  <node  pkg="camera_calib" name="cam_lidar_proj_d435i" type="cam_lidar_proj_node" output="screen">

  </node>
</launch>
